@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none ;
    background-color: red;
}


.heroSection {
    font-family: Google Sans Flex;
    display: flex;
}

nav li {
    list-style-type: none;
    text-decoration: none;
    color: bisque;

}

nav a {
    text-decoration: none;
    color: bisque;

}